# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiexternal-format/

{{ if ne .chezmoi.os "windows" }}
".oh-my-zsh":
  type: archive
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
".oh-my-zsh/custom/themes/powerlevel10k":
  type: archive
  url: "https://github.com/romkatv/powerlevel10k/archive/refs/tags/v{{ .versions.powerlevel10k }}.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-autosuggestions":
  type: archive
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/tags/v{{ .versions.zshautosuggestions }}.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-syntax-highlighting":
  type: archive
  url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/refs/tags/{{ .versions.zshsyntaxhighlighting }}.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-bat":
  type: archive
  url: "https://github.com/fdellwing/zsh-bat/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
".oh-my-zsh/custom/plugins/zsh-you-should-use":
  type: archive
  url: "https://github.com/MichaelAquilina/zsh-you-should-use/archive/refs/tags/{{ .versions.zshyoushoulduse }}.tar.gz"
  exact: true
  stripComponents: 1

".vim/autoload/plug.vim":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/vim-plug/{{ .versions.vimplug }}/plug.vim"
".vimconf":
  type: archive
  url: "https://github.com/kibaamor/vimconf/archive/main.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"

".gdbinit-gef.py":
  type: file
  url: "https://gef.blah.cat/py"
  refreshPeriod: "168h"
{{ end }}

".local/bin/delta{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/dandavison/delta/releases/download/{{ .versions.delta }}/delta-{{ .versions.delta }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "delta{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/bat{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/sharkdp/bat/releases/download/v{{ .versions.bat }}/bat-v{{ .versions.bat }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "bat{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/fd{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/sharkdp/fd/releases/download/v{{ .versions.fd }}/fd-v{{ .versions.fd }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "fd{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/fzf{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/junegunn/fzf/releases/download/v{{ .versions.fzf }}/fzf-{{ .versions.fzf }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "fzf{{ .exe_ext }}"
  executable: true
{{ if ne .chezmoi.os "windows" }}
".fzf.key-bindings.zsh":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/fzf/master/shell/key-bindings.zsh"
  refreshPeriod: "168h"
".fzf.completion.zsh":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/fzf/master/shell/completion.zsh"
  refreshPeriod: "168h"
".fzf-git.sh":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/fzf-git.sh/main/fzf-git.sh"
  refreshPeriod: "168h"
{{ end }}

".local/bin/direnv{{ .exe_ext }}":
  type: file
  url: "https://github.com/direnv/direnv/releases/download/v{{ .versions.direnv }}/direnv.{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .exe_ext }}"
  executable: true

".local/bin/rg{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/BurntSushi/ripgrep/releases/download/{{ .versions.ripgrep }}/ripgrep-{{ .versions.ripgrep }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  stripComponents: 1
  path: "rg{{ .exe_ext }}"
  executable: true

".local/bin/lsd{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/lsd-rs/lsd/releases/download/v{{ .versions.lsd }}/lsd-v{{ .versions.lsd }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "lsd{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/duf{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/muesli/duf/releases/download/v{{ .versions.duf }}/duf_{{ .versions.duf }}_{{ .chezmoi.os }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "duf{{ .exe_ext }}"
  executable: true

".local/bin/age{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/FiloSottile/age/releases/download/v{{ .versions.age }}/age-v{{ .versions.age }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  stripComponents: 1
  path: "age{{ .exe_ext }}"
  executable: true
".local/bin/age-keygen{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/FiloSottile/age/releases/download/v{{ .versions.age }}/age-v{{ .versions.age }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  stripComponents: 1
  path: "age-keygen{{ .exe_ext }}"
  executable: true

".local/bin/tldr{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/tldr-pages/tlrc/releases/download/v{{ .versions.tlrc }}/tlrc-v{{ .versions.tlrc }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "tldr{{ .exe_ext }}"
  executable: true

#{{ if .personal }}
#".local/bin/frpc{{ .exe_ext }}":
#  type: archive-file
#  url: "https://github.com/fatedier/frp/releases/download/v{{ .versions.frp }}/frp_{{ .versions.frp }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
#  path: "frpc{{ .exe_ext }}"
#  executable: true
#  stripComponents: 1
#".local/bin/frps{{ .exe_ext }}":
#  type: archive-file
#  url: "https://github.com/fatedier/frp/releases/download/v{{ .versions.frp }}/frp_{{ .versions.frp }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
#  path: "frps{{ .exe_ext }}"
#  executable: true
#  stripComponents: 1
#{{ end }}

".local/bin/ctop{{ .exe_ext }}":
  type: file
  url: "https://github.com/bcicen/ctop/releases/download/v{{ .versions.ctop }}/ctop-{{ .versions.ctop }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
  executable: true

".local/bin/kubecolor{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/kubecolor/kubecolor/releases/download/v{{ .versions.kubecolor }}/kubecolor_{{ .versions.kubecolor }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "kubecolor{{ .exe_ext }}"
  executable: true
".local/bin/kubectx{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/ahmetb/kubectx/releases/download/v{{ .versions.kubectx }}/kubectx_v{{ .versions.kubectx }}_{{ .chezmoi.os }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "kubectx{{ .exe_ext }}"
  executable: true
".local/bin/kubens{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/ahmetb/kubectx/releases/download/v{{ .versions.kubectx }}/kubens_v{{ .versions.kubectx }}_{{ .chezmoi.os }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "kubens{{ .exe_ext }}"
  executable: true

".local/bin/dive{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/wagoodman/dive/releases/download/v{{ .versions.dive }}/dive_{{ .versions.dive }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "dive{{ .exe_ext }}"
  executable: true

".local/bin/lazydocker{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/jesseduffield/lazydocker/releases/download/v{{ .versions.lazydocker }}/lazydocker_{{ .versions.lazydocker }}_{{ .chezmoi.os | camelcase }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "lazydocker{{ .exe_ext }}"
  executable: true

".local/bin/jq{{ .exe_ext }}":
  type: file
{{ if eq .chezmoi.os "darwin" }}
  url: "https://github.com/jqlang/jq/releases/download/jq-{{ .versions.jq }}/jq-macos-{{ .chezmoi.arch }}"
{{ else }}
  url: "https://github.com/jqlang/jq/releases/download/jq-{{ .versions.jq }}/jq-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .exe_ext }}"
{{ end }}
  executable: true

".local/bin/yq{{ .exe_ext }}":
  type: file
  url: "https://github.com/mikefarah/yq/releases/download/v{{ .versions.yq }}/yq_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .exe_ext }}"
  executable: true

".local/bin/gdu{{ .exe_ext }}":
  type: archive-file
{{ if eq .chezmoi.os "windows" }}
  url: "https://github.com/dundee/gdu/releases/download/v{{ .versions.gdu }}/gdu_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .exe_ext }}.zip"
{{ else }}
  url: "https://github.com/dundee/gdu/releases/download/v{{ .versions.gdu }}/gdu_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .exe_ext }}.tgz"
{{ end }}
  path: "gdu_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .exe_ext }}"
  executable: true

".local/bin/nali{{ .exe_ext }}":
{{ if eq .chezmoi.os "windows" }}
  type: archive-file
  url: "https://github.com/zu1k/nali/releases/download/v{{ .versions.nali }}/nali-{{ .chezmoi.os }}-{{ .chezmoi.arch }}-v{{ .versions.nali }}.zip"
  path: "nali-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .exe_ext }}"
{{ else }}
  type: file
  url: "https://github.com/zu1k/nali/releases/download/v{{ .versions.nali }}/nali-{{ .chezmoi.os }}-{{ .chezmoi.arch }}-v{{ .versions.nali }}.gz"
  filter:
    command: "gzip"
    args: ["-d", "-f", "-c"]
{{ end }}
  executable: true

".local/bin/arkade{{ .exe_ext }}":
  type: file
{{ if eq .chezmoi.os "windows" }}
  url: "https://github.com/alexellis/arkade/releases/download/{{ .versions.arkade }}/arkade.exe"
{{ else if eq .chezmoi.os "darwin" }}
  url: "https://github.com/alexellis/arkade/releases/download/{{ .versions.arkade }}/arkade-darwin"
{{ else }}
  url: "https://github.com/alexellis/arkade/releases/download/{{ .versions.arkade }}/arkade"
{{ end }}
  executable: true

".local/bin/mkcert{{ .exe_ext }}":
  type: file
  url: "https://github.com/FiloSottile/mkcert/releases/download/v{{ .versions.mkcert }}/mkcert-v{{ .versions.mkcert }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .exe_ext }}"
  executable: true

".local/bin/kind{{ .exe_ext }}":
  type: file
  url: "https://github.com/kubernetes-sigs/kind/releases/download/v{{ .versions.kind }}/kind-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
  executable: true

".local/bin/tproxy{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/kevwan/tproxy/releases/download/v{{ .versions.tproxy }}/tproxy-v{{ .versions.tproxy }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "tproxy{{ .exe_ext }}"
  executable: true

".local/bin/gping{{ .exe_ext }}":
  type: archive-file
  {{ if eq .chezmoi.os "darwin" }}
  url: "https://github.com/orf/gping/releases/download/gping-v{{ .versions.gping }}/gping-macOS{{ .pkg_runtime }}-{{ .uname_arch }}{{ .pkg_postfix }}"
  {{ else }}
  url: "https://github.com/orf/gping/releases/download/gping-v{{ .versions.gping }}/gping-{{ .chezmoi.os | camelcase }}{{ .pkg_runtime }}-{{ .uname_arch }}{{ .pkg_postfix }}"
  {{ end }}
  path: "gping{{ .exe_ext }}"
  executable: true

".local/bin/doggo{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/mr-karan/doggo/releases/download/v{{ .versions.doggo }}/doggo_{{ .versions.doggo }}_{{ .chezmoi.os | camelcase }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "doggo{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/nexttrace{{ .exe_ext }}":
  type: file
  url: "https://github.com/nxtrace/NTrace-core/releases/download/v{{ .versions.NTracecore }}/nexttrace_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .exe_ext }}"
  path: "nexttrace{{ .exe_ext }}"
  executable: true

{{ if .extra_bins }}

".local/bin/minikube{{ .exe_ext }}":
  type: file
  url: "https://github.com/kubernetes/minikube/releases/download/v{{ .versions.minikube }}/minikube-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .exe_ext }}"
  executable: true

".local/bin/k9s{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/derailed/k9s/releases/download/v{{ .versions.k9s }}/k9s_{{ .chezmoi.os | camelcase }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "k9s{{ .exe_ext }}"
  executable: true

".local/bin/kubeshark{{ .exe_ext }}":
  type: file
{{ if eq .chezmoi.os "windows" }}
  url: "https://github.com/kubeshark/kubeshark/releases/download/v{{ .versions.kubeshark }}/kubeshark.exe"
{{ else }}
  url: "https://github.com/kubeshark/kubeshark/releases/download/v{{ .versions.kubeshark }}/kubeshark_{{ .chezmoi.os }}_{{ .chezmoi.arch }}"
{{ end }}
  executable: true

".local/bin/helm{{ .exe_ext }}":
  type: archive-file
  url: "https://get.helm.sh/helm-v{{ .versions.helm }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "helm{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/kubefwd{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/txn2/kubefwd/releases/download/{{ .versions.kubefwd }}/kubefwd_{{ .chezmoi.os | camelcase }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "kubefwd{{ .exe_ext }}"
  executable: true

{{ end }}
