# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiexternal-format/

{{ if not (eq .chezmoi.os "windows") }}
".oh-my-zsh":
  type: archive
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/themes/powerlevel10k":
  type: archive
  url: "https://github.com/romkatv/powerlevel10k/archive/v{{ .versions.p10k }}.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-autosuggestions":
  type: archive
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-syntax-highlighting":
  type: archive
  url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-bat":
  type: archive
  url: "https://github.com/fdellwing/zsh-bat/archive/master.tar.gz"
  exact: true
  stripComponents: 1
".oh-my-zsh/custom/plugins/zsh-you-should-use":
  type: archive
  url: "https://github.com/MichaelAquilina/zsh-you-should-use/archive/master.tar.gz"
  exact: true
  stripComponents: 1

".vim/autoload/plug.vim":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
".vimconf":
  type: archive
  url: "https://github.com/kibaamor/vimconf/archive/main.tar.gz"
  exact: true
  stripComponents: 1
{{ end }}

".local/bin/kubecolor{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/kubecolor/kubecolor/releases/download/v{{ .versions.kubecolor }}/kubecolor_{{ .versions.kubecolor }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  path: "kubecolor{{ .exe_ext }}"
  executable: true
".local/bin/kubectx{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/ahmetb/kubectx/releases/download/v{{ .versions.kubectx }}/kubectx_v{{ .versions.kubectx }}_{{ .chezmoi.os }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "kubectx{{ .exe_ext }}"
  executable: true
".local/bin/kubens{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/ahmetb/kubectx/releases/download/v{{ .versions.kubectx }}/kubens_v{{ .versions.kubectx }}_{{ .chezmoi.os }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "kubens{{ .exe_ext }}"
  executable: true

".local/bin/fzf{{ .exe_ext }}":
  type: archive-file
{{ if eq .chezmoi.os "darwin" }}
  url: "https://github.com/junegunn/fzf/releases/download/{{ .versions.fzf }}/fzf-{{ .versions.fzf }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip"
{{ else }}
  url: "https://github.com/junegunn/fzf/releases/download/{{ .versions.fzf }}/fzf-{{ .versions.fzf }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}{{ .pkg_postfix }}"
{{ end }}
  path: "fzf{{ .exe_ext }}"
  executable: true
{{ if not (eq .chezmoi.os "windows") }}
".fzf.key-bindings.zsh":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/fzf/master/shell/key-bindings.zsh"
".fzf.completion.zsh":
  type: file
  url: "https://raw.githubusercontent.com/junegunn/fzf/master/shell/completion.zsh"
{{ end }}

".local/bin/age{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/FiloSottile/age/releases/download/v{{ .versions.age }}/age-v{{ .versions.age }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  stripComponents: 1
  path: "age{{ .exe_ext }}"
  executable: true
".local/bin/age-keygen{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/FiloSottile/age/releases/download/v{{ .versions.age }}/age-v{{ .versions.age }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .pkg_postfix }}"
  stripComponents: 1
  path: "age-keygen{{ .exe_ext }}"
  executable: true

".local/bin/direnv{{ .exe_ext }}":
  type: file
  url: "https://github.com/direnv/direnv/releases/download/v{{ .versions.direnv }}/direnv.{{ .chezmoi.os }}-{{ .chezmoi.arch }}{{ .exe_ext }}"
  executable: true

".local/bin/rg{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/BurntSushi/ripgrep/releases/download/{{ .versions.ripgrep }}/ripgrep-{{ .versions.ripgrep }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  stripComponents: 1
  path: "rg{{ .exe_ext }}"
  executable: true

".local/bin/delta{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/dandavison/delta/releases/download/{{ .versions.delta }}/delta-{{ .versions.delta }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "delta{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/bat{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/sharkdp/bat/releases/download/v{{ .versions.bat }}/bat-v{{ .versions.bat }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "bat{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/fd{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/sharkdp/fd/releases/download/v{{ .versions.fd }}/fd-v{{ .versions.fd }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "fd{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/lsd{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/lsd-rs/lsd/releases/download/v{{ .versions.lsd }}/lsd-v{{ .versions.lsd }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "lsd{{ .exe_ext }}"
  executable: true
  stripComponents: 1

".local/bin/duf{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/muesli/duf/releases/download/v{{ .versions.duf }}/duf_{{ .versions.duf }}_{{ .chezmoi.os }}_{{ .uname_arch }}{{ .pkg_postfix }}"
  path: "duf{{ .exe_ext }}"
  executable: true

".local/bin/tldr{{ .exe_ext }}":
  type: archive-file
  url: "https://github.com/tldr-pages/tlrc/releases/download/v{{ .versions.tlrc }}/tlrc-v{{ .versions.tlrc }}-{{ .uname_arch }}-{{ .platform }}-{{ .chezmoi.os }}{{ .pkg_runtime }}{{ .pkg_postfix }}"
  path: "tldr{{ .exe_ext }}"
  executable: true

".local/bin/ctop{{ .exe_ext }}":
  type: file
  url: "https://github.com/bcicen/ctop/releases/download/v{{ .versions.ctop }}/ctop-{{ .versions.ctop }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
  executable: true
