{{- /* https://www.chezmoi.io/reference/configuration-file/variables/ */ -}}

{{- /* is personal workstation */ -}}
{{- $personal := contains "-WKS-" .chezmoi.hostname | not -}}

{{- /* Checks if running interactively */ -}}
{{- $interactive := and
    stdinIsATTY
    (env "ACT" | not)
    (env "CODESPACES" | not)
    (env "DEBIAN_FRONTEND" | ne "noninteractive") -}}

{{- /* we can execute sudo command or not */ -}}
{{- $can_sudo := or $interactive (env "CODESPACES") -}}

{{- /* find sudo command */ -}}
{{- $sudo := findExecutable "sudo" (list "/bin" "/sbin" "/usr/bin" "/usr/sbin") -}}

format: yaml

data:
  personal: {{ $personal }}

  interactive: {{ $interactive }}
  can_sudo: {{ $can_sudo }}
  sudo: {{ $sudo }}

{{ if eq .chezmoi.os "windows" -}}
  uname_arch: "x86_64"
  pkg_postfix: ".zip"
{{ else }}
  uname_arch: "{{ output "uname" "-m" | trim }}"
  pkg_postfix: ".tar.gz"
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
  platform: "pc"
  pkg_runtime: "-msvc"
{{ else if eq .chezmoi.os "darwin" }}
  platform: "apple"
  pkg_runtime: ""
{{ else }}
  platform: "unknown"
  pkg_runtime: "-musl"
{{- end }}
