[user]
    name = Kiba Amor
    email = 5093911+kibaamor@users.noreply.github.com

[init]
    defaultBranch = main

[core]
    editor = vim
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = true

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

{{ if not .personal -}}
[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab-ncsa.ubisoft.org:"]
    insteadof = https://gitlab-ncsa.ubisoft.org/

[http]
    proxy = http://proxy.ubisoft.org:3128

[https]
    proxy = http://proxy.ubisoft.org:3128
{{ end -}}
