[user]
    name = Kiba Amor
    email = 5093911+kibaamor@users.noreply.github.com
[init]
    defaultBranch = main
{{ if not .personal -}}
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@gitlab-ncsa.ubisoft.org:"]
    insteadof = https://gitlab-ncsa.ubisoft.org/
[http]
    proxy = http://proxy.ubisoft.org:3128
[https]
    proxy = http://proxy.ubisoft.org:3128
{{ end -}}
