#!/bin/bash

# -e: exit on error
# -u: exit on unset variables
set -eu

{{ if or
    (eq .chezmoi.osRelease.id "ubuntu")
    (eq .chezmoi.osRelease.id "debian")
    -}}

export DEBIAN_FRONTEND=noninteractive

SUDO=""
if [[ $(id -u) -eq 0 ]]; then
  SUDO="sudo"
fi
"$SUDO" apt update
"$SUDO" apt install --yes --no-install-recommends {{ . | quote }}
"$SUDO" rm -rf /var/lib/apt/lists/*

{{ end -}}
