{{- if or
    (eq .chezmoi.osRelease.id "ubuntu")
    (eq .chezmoi.osRelease.id "debian")
    -}}

#!/bin/bash

if [ "$(id -u)" -eq 0 ]; then
    set -eufo pipefail \
        && apt update \
        && apt install --yes --no-install-recommends {{ .packages.debian }} \
        && rm -rf /var/lib/apt/lists/*
{{ if .can_sudo }}
else
    set -eufo pipefail \
        && {{ .sudo }} apt update \
        && {{ .sudo }} apt install --yes --no-install-recommends {{ .packages.debian }} \
        && {{ .sudo }} rm -rf /var/lib/apt/lists/*
{{ end }}
fi

{{ end -}}
