{{- if eq (get .chezmoi.osRelease "id") "centos" -}}

#!/bin/bash

set -efu

if [ "$(id -u)" -eq 0 ]; then
  set -efu \
    && yum update \
    && yum --assumeyes install {{ .packages.centos }} \
    && yum update clean
{{ if .can_sudo }}
else
  set -efu \
    && {{ .sudo }} yum update \
    && {{ .sudo }} yum --assumeyes install {{ .packages.centos }} \
    && {{ .sudo }} yum update clean
{{ end }}
fi

{{- end -}}
