{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

set -efu

if [ "$(basename "$SHELL")" = "zsh" ]; then
  exit 0
fi

if [ "$(id -u)" -eq 0 ]; then
  chsh -s /usr/bin/zsh "$USER"
{{ if .can_sudo }}
else
  {{ .sudo }} chsh -s /usr/bin/zsh "$USER"
{{ end }}
fi

{{- end -}}
